{% extends 'base.html.twig' %}

{% block title %}Nouveau ticket{% endblock %}

{% block body %}
    <h1>Nouveau ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <a class="btn btn-outline-secondary" href="{{ path('app_ticket_index') }}">Retour</a>
{% endblock %}
